dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.envrc
.ghc.environment.*
.cache
.history
stack*.yaml.lock
.vscode
docs
result
/dhall/benchmark/evaluation/large6/slow/parse.dhall
result-*
report.html
/dhall/tests/to-directory-tree/*.out/
.DS_Store
