# See: https://github.com/renovatebot/github-action?tab=readme-ov-file#example
# See: https://github.com/jenkinsci/helm-charts/blob/efc6225850a9c4e5a7f83b15223c21ff06c5b093/.github/workflows/renovate.yml

name: renovatebot

on:
  schedule:
    # Run every day on midnight
    - cron: "0 0 * * *"
  workflow_dispatch: {}

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      workflows: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.0.1
        with:
          configurationFile: .github/renovate.json5
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          LOG_LEVEL: debug
